body {
  background-color: #f1eaea;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 80px;
  z-index: 10000;
  background-color: #a32638;
}

header.sticky {
  padding: 5px 100px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 30px #000;
}

header .logo {
  position: relative;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4 px;
  transition: 0.6 s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 0 0 20px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
}

header.sticky .logo,
header.sticky li a {
  color: #a32638;
}

header a:hover {
  color: black;
  font-weight: bold;
  transition: 1s;
  padding-left: 0px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 5px 5px 5px;
}

article h4 {
  padding-top: 200px;
  color: #a32638;
  font-family: LEMON MILK;
  padding-left: 260px;
  text-decoration: underline;
}
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}

form {
  padding-left: 500px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-family: LEMON MILK;
  margin-right: 40px;
}

input[type="submit"] [type="reset"] {
  text-decoration: none;
  color: #cccccc;
  background-color: #a32638;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 20px;
  margin-top: 15px;
}
form ul {
  position: relative;
  display: flex;
}

form ul li {
  position: relative;
  list-style: none;

  margin-right: 70px;
}

#buttns {
  margin-top: 40px;
  padding-left: 80px;
  display: inline-block;
  list-style: none;
}
#nv {
  margin-top: 10px;
  margin-left: 60px;
  border: 4px double #cccccc;
}
#nv a {
  text-decoration: none;
  color: #000;
}
#nv a :hover {
  color: #a32638;
  font-weight: bold;
  transition: 1s;
  padding-left: 0px;
}
